java/clientservices/client.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://client/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://client/" name="ClientServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://client/" schemaLocation="http://localhost:8082/client?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"></part>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"></part>
</message>
<message name="getAllPackagesForMe">
<part name="parameters" element="tns:getAllPackagesForMe"></part>
</message>
<message name="getAllPackagesForMeResponse">
<part name="parameters" element="tns:getAllPackagesForMeResponse"></part>
</message>
<message name="getUserByUsername">
<part name="parameters" element="tns:getUserByUsername"></part>
</message>
<message name="getUserByUsernameResponse">
<part name="parameters" element="tns:getUserByUsernameResponse"></part>
</message>
<message name="searchPackages">
<part name="parameters" element="tns:searchPackages"></part>
</message>
<message name="searchPackagesResponse">
<part name="parameters" element="tns:searchPackagesResponse"></part>
</message>
<message name="getPackageStatus">
<part name="parameters" element="tns:getPackageStatus"></part>
</message>
<message name="getPackageStatusResponse">
<part name="parameters" element="tns:getPackageStatusResponse"></part>
</message>
<portType name="ClientService">
<operation name="register">
<input wsam:Action="http://client/ClientService/registerRequest" message="tns:register"></input>
<output wsam:Action="http://client/ClientService/registerResponse" message="tns:registerResponse"></output>
</operation>
<operation name="getAllPackagesForMe">
<input wsam:Action="http://client/ClientService/getAllPackagesForMeRequest" message="tns:getAllPackagesForMe"></input>
<output wsam:Action="http://client/ClientService/getAllPackagesForMeResponse" message="tns:getAllPackagesForMeResponse"></output>
</operation>
<operation name="getUserByUsername">
<input wsam:Action="http://client/ClientService/getUserByUsernameRequest" message="tns:getUserByUsername"></input>
<output wsam:Action="http://client/ClientService/getUserByUsernameResponse" message="tns:getUserByUsernameResponse"></output>
</operation>
<operation name="searchPackages">
<input wsam:Action="http://client/ClientService/searchPackagesRequest" message="tns:searchPackages"></input>
<output wsam:Action="http://client/ClientService/searchPackagesResponse" message="tns:searchPackagesResponse"></output>
</operation>
<operation name="getPackageStatus">
<input wsam:Action="http://client/ClientService/getPackageStatusRequest" message="tns:getPackageStatus"></input>
<output wsam:Action="http://client/ClientService/getPackageStatusResponse" message="tns:getPackageStatusResponse"></output>
</operation>
</portType>
<binding name="ClientServiceImplPortBinding" type="tns:ClientService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="register">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAllPackagesForMe">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUserByUsername">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="searchPackages">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPackageStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ClientServiceImplService">
<port name="ClientServiceImplPort" binding="tns:ClientServiceImplPortBinding">
<soap:address location="http://localhost:8082/client"></soap:address>
</port>
</service>
</definitions>