java/adminservices/admin.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://admin/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://admin/" name="AdminServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://admin/" schemaLocation="http://localhost:8083/admin?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getAllPackages">
<part name="parameters" element="tns:getAllPackages"></part>
</message>
<message name="getAllPackagesResponse">
<part name="parameters" element="tns:getAllPackagesResponse"></part>
</message>
<message name="addPackage">
<part name="parameters" element="tns:addPackage"></part>
</message>
<message name="addPackageResponse">
<part name="parameters" element="tns:addPackageResponse"></part>
</message>
<message name="removePackage">
<part name="parameters" element="tns:removePackage"></part>
</message>
<message name="removePackageResponse">
<part name="parameters" element="tns:removePackageResponse"></part>
</message>
<message name="registerPackageForTracking">
<part name="parameters" element="tns:registerPackageForTracking"></part>
</message>
<message name="registerPackageForTrackingResponse">
<part name="parameters" element="tns:registerPackageForTrackingResponse"></part>
</message>
<message name="updatePackageStatus">
<part name="parameters" element="tns:updatePackageStatus"></part>
</message>
<message name="updatePackageStatusResponse">
<part name="parameters" element="tns:updatePackageStatusResponse"></part>
</message>
<message name="getUserByUsernameAdmin">
<part name="parameters" element="tns:getUserByUsernameAdmin"></part>
</message>
<message name="getUserByUsernameAdminResponse">
<part name="parameters" element="tns:getUserByUsernameAdminResponse"></part>
</message>
<portType name="AdminService">
<operation name="getAllPackages">
<input wsam:Action="http://admin/AdminService/getAllPackagesRequest" message="tns:getAllPackages"></input>
<output wsam:Action="http://admin/AdminService/getAllPackagesResponse" message="tns:getAllPackagesResponse"></output>
</operation>
<operation name="addPackage">
<input wsam:Action="http://admin/AdminService/addPackageRequest" message="tns:addPackage"></input>
<output wsam:Action="http://admin/AdminService/addPackageResponse" message="tns:addPackageResponse"></output>
</operation>
<operation name="removePackage">
<input wsam:Action="http://admin/AdminService/removePackageRequest" message="tns:removePackage"></input>
<output wsam:Action="http://admin/AdminService/removePackageResponse" message="tns:removePackageResponse"></output>
</operation>
<operation name="registerPackageForTracking">
<input wsam:Action="http://admin/AdminService/registerPackageForTrackingRequest" message="tns:registerPackageForTracking"></input>
<output wsam:Action="http://admin/AdminService/registerPackageForTrackingResponse" message="tns:registerPackageForTrackingResponse"></output>
</operation>
<operation name="updatePackageStatus">
<input wsam:Action="http://admin/AdminService/updatePackageStatusRequest" message="tns:updatePackageStatus"></input>
<output wsam:Action="http://admin/AdminService/updatePackageStatusResponse" message="tns:updatePackageStatusResponse"></output>
</operation>
<operation name="getUserByUsernameAdmin">
<input wsam:Action="http://admin/AdminService/getUserByUsernameAdminRequest" message="tns:getUserByUsernameAdmin"></input>
<output wsam:Action="http://admin/AdminService/getUserByUsernameAdminResponse" message="tns:getUserByUsernameAdminResponse"></output>
</operation>
</portType>
<binding name="AdminServiceImplPortBinding" type="tns:AdminService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getAllPackages">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addPackage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="removePackage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="registerPackageForTracking">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updatePackageStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUserByUsernameAdmin">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="AdminServiceImplService">
<port name="AdminServiceImplPort" binding="tns:AdminServiceImplPortBinding">
<soap:address location="http://localhost:8083/admin"></soap:address>
</port>
</service>
</definitions>